* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #555590;
    margin: 0;
}

header{
    width: 100%;
    height: 10vw;
    background-color: white;
    border-bottom: 1vw solid #88ff33;
    padding: 1.5vw;
}

h1{
    font-size: 3.8vw;
    float: left;
    margin-bottom: 0;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 20vw;
    height: 6vw;
    justify-items: center;
    align-items: end;
   }

nav > a{
    font-size: 1.4em;
}

main {
    width: 80vw;
    min-height: 600px;
    background-color: white;
    box-shadow: 0 0 10px #222255;
    clear: both;
    margin: 0 auto;
    padding: 16px;
    position: relative;
    z-index: -1;

}

footer {
    background-color: #88ff33;
    width: 100%;
    height: 10vw;
    text-align: center;
    padding: 16px;
}

h2 {
    font-size: 2.4vw;
}

p {
    font-size: 1.4em;
    line-height: 1.8em;
}


    @media (max-width: 1160px){
        h1 {
            margin-right: 4vw;

        }

        nav {
            width: 30vw;
        }



    }

    @media (max-width: 800px){

        header {
            border-bottom: 4vw solid #88ff33;
            height: auto;
        }

        h1 {
            width: 100%;
            font-size: 7vw;
            text-align: center;
            margin-bottom: 18px;
        }

        nav{
            width: 100%;
        }

        h2 {
            font-size: 5.5vw;
        }

        footer {
            height: auto;
            padding: 9px;
        }
    }
    
/*
    @media (max-width: 900px) and (min-width: 720px){

        header{
        border-bottom: 4vw solid #dd22dd;
        }
    } */